In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('temp.csv')
df

        day  temperature  windspeed  event
0  01/01/17           32          6   Rain
1  01/02/17           35          7  sunny
2  01/03/17           28          2   snow
3  01/04/17           24          7   snow
4  01/05/17           32          4   Rain
5  01/06/17           32          2  sunny

In [3]:
# OR

In [29]:
temp = {
    'day': ['1/1/17','1/2/17','1/3/17','1/4/17','1/5/17','1/6/17'],
    'temperature' : [32,35,28,24,32,31],
    'windspeed': [6,7,2,7,4,2],
    'event': ['rain','sunny','snow','snow','rain','sunny']
}
df = pd.DataFrame(temp)
df

      day  temperature  windspeed  event
0  1/1/17           32          6   rain
1  1/2/17           35          7  sunny
2  1/3/17           28          2   snow
3  1/4/17           24          7   snow
4  1/5/17           32          4   rain
5  1/6/17           31          2  sunny

In [30]:
 row, columns = df.shape

In [31]:
row

6

In [32]:
df.head()

      day  temperature  windspeed  event
0  1/1/17           32          6   rain
1  1/2/17           35          7  sunny
2  1/3/17           28          2   snow
3  1/4/17           24          7   snow
4  1/5/17           32          4   rain

In [33]:
df.tail(2)

      day  temperature  windspeed  event
4  1/5/17           32          4   rain
5  1/6/17           31          2  sunny

In [34]:
df[2:5]

      day  temperature  windspeed event
2  1/3/17           28          2  snow
3  1/4/17           24          7  snow
4  1/5/17           32          4  rain

In [35]:
 df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [36]:
df.day

0    1/1/17
1    1/2/17
2    1/3/17
3    1/4/17
4    1/5/17
5    1/6/17
Name: day, dtype: object

In [37]:
df['event']

0     rain
1    sunny
2     snow
3     snow
4     rain
5    sunny
Name: event, dtype: object

In [38]:
type(df['event'])

pandas.core.series.Series

In [39]:
# to print required columns
df[['event','day']]

   event     day
0   rain  1/1/17
1  sunny  1/2/17
2   snow  1/3/17
3   snow  1/4/17
4   rain  1/5/17
5  sunny  1/6/17

In [40]:
df['temperature']

0    32
1    35
2    28
3    24
4    32
5    31
Name: temperature, dtype: int64

In [41]:
df['temperature'].max()

35

In [42]:
df.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [43]:
df[df.temperature >= 32]

      day  temperature  windspeed  event
0  1/1/17           32          6   rain
1  1/2/17           35          7  sunny
4  1/5/17           32          4   rain

In [44]:
df[df.temperature== df.temperature.max()]

      day  temperature  windspeed  event
1  1/2/17           35          7  sunny

In [45]:
df[['day','temperature']][df.temperature==df['temperature'].max()]

      day  temperature
1  1/2/17           35

In [46]:
df.index

RangeIndex(start=0, stop=6, step=1)

In [47]:
df.set_index('day',inplace=True)

In [48]:
df

        temperature  windspeed  event
day
1/1/17           32          6   rain
1/2/17           35          7  sunny
1/3/17           28          2   snow
1/4/17           24          7   snow
1/5/17           32          4   rain
1/6/17           31          2  sunny

In [50]:
df.loc['1/3/17']

temperature      28
windspeed         2
event          snow
Name: 1/3/17, dtype: object

In [53]:
df.reset_index(inplace=True)
df

      day  temperature  windspeed  event
0  1/1/17           32          6   rain
1  1/2/17           35          7  sunny
2  1/3/17           28          2   snow
3  1/4/17           24          7   snow
4  1/5/17           32          4   rain
5  1/6/17           31          2  sunny

In [54]:
df.set_index('event',inplace=True)
df

          day  temperature  windspeed
event
rain   1/1/17           32          6
sunny  1/2/17           35          7
snow   1/3/17           28          2
snow   1/4/17           24          7
rain   1/5/17           32          4
sunny  1/6/17           31          2

In [55]:
df.loc['snow']

          day  temperature  windspeed
event
snow   1/3/17           28          2
snow   1/4/17           24          7