In [1]:
import pandas as pd

In [4]:
am = pd.read_excel('comstock.xlsx')
am

  tickers            eps  revenue price         people
0   GOOGL          27.82       87   845     larry page
1     WMT           4.61      484    65            n.a
2    MSFT             -1       85    64     bill gates
3     RIL  not available       50  1023  mukesh ambani
4    TATA            5.6       -1   n.a     ratan tata

In [8]:
def convert_people_cell(cell):
    if cell=="n.a":
        return 'sam walton'
    return cell


def convert_eps_cell(cell):
    if cell=='not available':
        return 0
    return cell


def convert_price_cell(cell):
    if cell=='n.a':
        return 0
    return cell


df = pd.read_excel('comstock.xlsx', converters = {
    'people': convert_people_cell,
    'eps': convert_eps_cell,
    'price':convert_price_cell
})
df

  tickers    eps  revenue  price         people
0   GOOGL  27.82       87    845     larry page
1     WMT   4.61      484     65     sam walton
2    MSFT  -1.00       85     64     bill gates
3     RIL   0.00       50   1023  mukesh ambani
4    TATA   5.60       -1      0     ratan tata

In [12]:
 temp = {
    'day': ['1/1/17','1/2/17','1/3/17'],
    'temperature' : [32,35,28],
    'windspeed': [6,7,2],
    'event': ['rain','sunny','snow']
}

In [13]:
weather = {
    'tickers': ['gogl','whit','msft'],
    'prices': [845,65,64],
    'pe':[30.37,14.26,30.97],
    'eps':[27.82, 4.61, 2.12]
}

In [14]:
with pd.ExcelWriter('stocks_weather.xlsx') as writer:
    temp.to_excel(writer, sheet_name="stocks")
    weather.to_excel(writer, sheet_name="weather")

ModuleNotFoundError: No module named 'openpyxl'

In [17]:
! pip install openpyxl

Requirement already satisfied: openpyxl in /home/e1p4ch0/snap/jupyter/common/lib/python3.7/site-packages (2.6.3)
Requirement already satisfied: jdcal in /home/e1p4ch0/snap/jupyter/common/lib/python3.7/site-packages (from openpyxl) (1.4.1)
Requirement already satisfied: et-xmlfile in /home/e1p4ch0/snap/jupyter/common/lib/python3.7/site-packages (from openpyxl) (1.0.1)