In [1]:
import pandas as pd

y = pd.Period('2016')
y

Period('2016', 'A-DEC')

In [2]:
dir(y)

['__add__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__radd__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rsub__',
 '__setattr__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__weakref__',
 '_add_delta',
 '_from_ordinal',
 '_maybe_convert_freq',
 '_typ',
 'asfreq',
 'day',
 'dayofweek',
 'dayofyear',
 'days_in_month',
 'daysinmonth',
 'end_time',
 'freq',
 'freqstr',
 'hour',
 'is_leap_year',
 'minute',
 'month',
 'now',
 'ordinal',
 'quarter',
 'qyear',
 'second',
 'start_time',
 'strftime',
 'to_timestamp',
 'week',
 'weekday',
 'weekofyear',
 'year']

In [3]:
y.start_time

Timestamp('2016-01-01 00:00:00')

In [4]:
y.end_time

Timestamp('2016-12-31 23:59:59.999999999')

In [6]:
m = pd.Period('2014-1',freq='M')
m

Period('2014-01', 'M')

In [8]:
m.start_time

Timestamp('2014-01-31 23:59:59.999999999')

In [9]:
m.end_time

Timestamp('2014-01-31 23:59:59.999999999')

In [10]:
m + 1

Period('2014-02', 'M')

In [11]:
d = pd.Period('2018-02-28', freq='D')
d

Period('2018-02-28', 'D')

In [12]:
d + 1

Period('2018-03-01', 'D')

In [15]:
h = pd.Period('2018-02-28 23:00:00', freq='H')
h

Period('2018-02-28 23:00', 'H')

In [16]:
h + 1

Period('2018-03-01 00:00', 'H')

In [17]:
h + 6

Period('2018-03-01 05:00', 'H')

In [18]:
h + pd.offsets.Hour(5)

Period('2018-03-01 04:00', 'H')

In [19]:
q = pd.Period('2017Q1')
q

Period('2017Q1', 'Q-DEC')

In [20]:
# for diffrent periods

In [21]:
q = pd.Period('2017Q1', freq='Q-JAN')
q

Period('2017Q1', 'Q-JAN')

In [22]:
q.start_time

Timestamp('2016-02-01 00:00:00')

In [23]:
q.end_time

Timestamp('2016-04-30 23:59:59.999999999')

In [25]:
q.asfreq('M', how="end")

Period('2016-04', 'M')

In [26]:
q.asfreq('M', how="start")

Period('2016-02', 'M')

In [27]:
q2 = pd.Period('2018Q2', freq='Q-JAN')
q2

Period('2018Q2', 'Q-JAN')

In [28]:
q2-q

In [31]:
idx = pd.period_range('2011','2017',freq='Q-JAN')
idx

PeriodIndex(['2011Q4', '2012Q1', '2012Q2', '2012Q3', '2012Q4', '2013Q1',
             '2013Q2', '2013Q3', '2013Q4', '2014Q1', '2014Q2', '2014Q3',
             '2014Q4', '2015Q1', '2015Q2', '2015Q3', '2015Q4', '2016Q1',
             '2016Q2', '2016Q3', '2016Q4', '2017Q1', '2017Q2', '2017Q3',
             '2017Q4'],
            dtype='period[Q-JAN]', freq='Q-JAN')

In [32]:
idx[0].start_time

Timestamp('2010-11-01 00:00:00')

In [33]:
idx[0].end_time

Timestamp('2011-01-31 23:59:59.999999999')

In [34]:
idx = pd.period_range('2011',periods=10)
idx

PeriodIndex(['2011-01-01', '2011-01-02', '2011-01-03', '2011-01-04',
             '2011-01-05', '2011-01-06', '2011-01-07', '2011-01-08',
             '2011-01-09', '2011-01-10'],
            dtype='period[D]', freq='D')

In [35]:
import numpy as np
ps = pd.Series(np.random.randn(len(idx)), idx)
ps

2011-01-01   -1.826896
2011-01-02   -0.282690
2011-01-03    0.962715
2011-01-04   -1.782818
2011-01-05   -0.618372
2011-01-06   -1.305213
2011-01-07    0.165789
2011-01-08   -1.274928
2011-01-09    1.126342
2011-01-10   -0.507527
Freq: D, dtype: float64

In [36]:
ps.index

PeriodIndex(['2011-01-01', '2011-01-02', '2011-01-03', '2011-01-04',
             '2011-01-05', '2011-01-06', '2011-01-07', '2011-01-08',
             '2011-01-09', '2011-01-10'],
            dtype='period[D]', freq='D')

In [37]:
 ps['2011':'2013']

2011-01-01   -1.826896
2011-01-02   -0.282690
2011-01-03    0.962715
2011-01-04   -1.782818
2011-01-05   -0.618372
2011-01-06   -1.305213
2011-01-07    0.165789
2011-01-08   -1.274928
2011-01-09    1.126342
2011-01-10   -0.507527
Freq: D, dtype: float64

In [38]:
pst = ps.to_timestamp()
pst

2011-01-01   -1.826896
2011-01-02   -0.282690
2011-01-03    0.962715
2011-01-04   -1.782818
2011-01-05   -0.618372
2011-01-06   -1.305213
2011-01-07    0.165789
2011-01-08   -1.274928
2011-01-09    1.126342
2011-01-10   -0.507527
Freq: D, dtype: float64

In [39]:
pst.index

DatetimeIndex(['2011-01-01', '2011-01-02', '2011-01-03', '2011-01-04',
               '2011-01-05', '2011-01-06', '2011-01-07', '2011-01-08',
               '2011-01-09', '2011-01-10'],
              dtype='datetime64[ns]', freq='D')

In [40]:
  pst.index

DatetimeIndex(['2011-01-01', '2011-01-02', '2011-01-03', '2011-01-04',
               '2011-01-05', '2011-01-06', '2011-01-07', '2011-01-08',
               '2011-01-09', '2011-01-10'],
              dtype='datetime64[ns]', freq='D')

In [44]:
pst.to_period()

2011-01-01   -1.826896
2011-01-02   -0.282690
2011-01-03    0.962715
2011-01-04   -1.782818
2011-01-05   -0.618372
2011-01-06   -1.305213
2011-01-07    0.165789
2011-01-08   -1.274928
2011-01-09    1.126342
2011-01-10   -0.507527
Freq: D, dtype: float64

In [46]:
import pandas as pd
df = pd.read_csv('walmart.csv')
df

  Line item  2017Q1  2017Q2  2017Q3  2017Q4  2018Q1
0   Revenue  115904  120854  118179  130936  117542
1  Expenses   86544   89485  877484   97743   87688
2    Profit   29360   31369   30695   33193   29854

In [48]:
df.set_index('Line item', inplace=True)
df

           2017Q1  2017Q2  2017Q3  2017Q4  2018Q1
Line item
Revenue    115904  120854  118179  130936  117542
Expenses    86544   89485  877484   97743   87688
Profit      29360   31369   30695   33193   29854

In [50]:
df = df.T
df

Line item  Revenue  Expenses  Profit
2017Q1      115904     86544   29360
2017Q2      120854     89485   31369
2017Q3      118179    877484   30695
2017Q4      130936     97743   33193
2018Q1      117542     87688   29854

In [51]:
df.index

Index(['2017Q1', '2017Q2', '2017Q3', '2017Q4', '2018Q1'], dtype='object')

In [52]:
df.index = pd.PeriodIndex(df.index, freq='Q-JAN')
df.index

PeriodIndex(['2017Q1', '2017Q2', '2017Q3', '2017Q4', '2018Q1'], dtype='period[Q-JAN]', freq='Q-JAN')

In [53]:
df['start date'] = df.index.map(lambda x : x.start_time)
df

Line item  Revenue  Expenses  Profit start date
2017Q1      115904     86544   29360 2016-02-01
2017Q2      120854     89485   31369 2016-05-01
2017Q3      118179    877484   30695 2016-08-01
2017Q4      130936     97743   33193 2016-11-01
2018Q1      117542     87688   29854 2017-02-01

In [54]:
df['end date'] = df.index.map(lambda x : x.end_time)
df

Line item  Revenue  Expenses  Profit start date                      end date
2017Q1      115904     86544   29360 2016-02-01 2016-04-30 23:59:59.999999999
2017Q2      120854     89485   31369 2016-05-01 2016-07-31 23:59:59.999999999
2017Q3      118179    877484   30695 2016-08-01 2016-10-31 23:59:59.999999999
2017Q4      130936     97743   33193 2016-11-01 2017-01-31 23:59:59.999999999
2018Q1      117542     87688   29854 2017-02-01 2017-04-30 23:59:59.999999999