In [1]:
# MOST COMMON PROBLEM :
## lack of uniformity in the structure of input data

In [2]:
import pandas as pd

dates = ['2017-01-05', 'jan 5, 2017','01/05/2017','2017.01.05','2017/01/05', '20170105']

pd.to_datetime(dates)

DatetimeIndex(['2017-01-05', '2017-01-05', '2017-01-05', '2017-01-05',
               '2017-01-05', '2017-01-05'],
              dtype='datetime64[ns]', freq=None)

In [3]:
dates = ['2017-01-05 2:30:00 PM', 'jan 5, 2017 14:30:00','01/05/2017','2017.01.05','2017/01/05', '20170105']

pd.to_datetime(dates)

DatetimeIndex(['2017-01-05 14:30:00', '2017-01-05 14:30:00',
               '2017-01-05 00:00:00', '2017-01-05 00:00:00',
               '2017-01-05 00:00:00', '2017-01-05 00:00:00'],
              dtype='datetime64[ns]', freq=None)

In [4]:
pd.to_datetime('5/1/2017', dayfirst=True)

Timestamp('2017-01-05 00:00:00')

In [5]:
pd.to_datetime('5/1/2017')

Timestamp('2017-05-01 00:00:00')

In [7]:
pd.to_datetime('5$1$2019', format='%d$%m$%Y')

Timestamp('2019-01-05 00:00:00')

In [8]:
dates = ['2017-01-05', 'jan 5, 2017','01/05/2017','2017.01.05','2017/01/05', '20170105','abc', 'fucku']

pd.to_datetime(dates, errors='ignore')

Index(['2017-01-05', 'jan 5, 2017', '01/05/2017', '2017.01.05', '2017/01/05',
       '20170105', 'abc', 'fucku'],
      dtype='object')

In [9]:
dates = ['2017-01-05', 'jan 5, 2017','01/05/2017','2017.01.05','2017/01/05', '20170105','abc', 'fucku']

pd.to_datetime(dates, errors='coerce')

DatetimeIndex(['2017-01-05', '2017-01-05', '2017-01-05', '2017-01-05',
               '2017-01-05', '2017-01-05',        'NaT',        'NaT'],
              dtype='datetime64[ns]', freq=None)

In [12]:
t = 1501356749
dt=pd.to_datetime([t],unit='s')
dt

DatetimeIndex(['2017-07-29 19:32:29'], dtype='datetime64[ns]', freq=None)

In [14]:
dt.view('int64')

array([1501356749000000000])